<div class="center">
	<section id="content">
		<h1 class="subheader">Crear artículo</h1>

		<form class="mid-form" #articleForm="ngForm" (ngSubmit)="createArticle()">
			<div class="form-group">
				<label for="title">Título</label> 
				<input type="text" name="title" #title="ngModel" [(ngModel)]="article.title" required>
				<div *ngIf="!title.valid && (title.dirty || title.touched)"><small style="color: brown;">*El título no es válido</small></div>
			</div>

			<div class="form-group">
				<label for="content">Contenido</label>
				<textarea name="content" #content="ngModel" [(ngModel)]="article.content" required></textarea>
				<div *ngIf="!content.valid && (content.dirty || content.touched)"><small style="color: brown;">*El contenido no es válido</small></div>
			</div>

			<div class="form-group">
				<label for="image">Imagen</label> 
				<input type="file" name="image" #image="ngModel" [(ngModel)]="article.image">
			</div>

			<div class="clearfix"></div>
			<input type="submit" value="Guardar" class="btn btn-success">
		</form>
	</section>

	<app-sidebar></app-sidebar>
</div>