body {
  text-align: center;
  margin: 0px;
  padding: 0px;

  /*Fuentes*/
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

#header {
  height: 120px;
  width: 100%;
  background: white;
  border-top: 5px solid rgb(50, 185, 0);
  border-bottom: 1px solid #ccc;
}

.center {
  width: 85%;
  margin: 0px auto;
}

.clearfix {
  clear: both;
  float: none;
}

#logo {
  width: 30%;
  font-size: 30px;
  float: left;
  margin-top: 35px;
}

#logo a {
  text-decoration: none;
  color: #444;
  transition: 300ms all;
}

#logo a:hover {
  color: #2a9201;
}

#logo img {
  display: block;
  float: left;
  height: 60px;
  margin-top: -9px;
  margin-right: 5px;
  animation: girar infinite 30s linear;
}

@keyframes girar {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

#brand {
  display: block;
  margin: 0px;
  float: left;
}

#menu {
  width: 70%;
  float: left;
  font-size: 18px;
}

#menu ul {
  line-height: 85px;
  width: 60%;
  float: right;
}

#menu ul li {
  display: inline-block;
  list-style: none;
  height: 46px;
  margin-left: 15px;
  margin-right: 15px;
}

#menu a {
  text-decoration: none;
  color: #444;
  transition: 300ms all;
}

#menu a:hover {
  color: #4dbd21;
}

.active {
  color: #4dbd21 !important;
}

#slider {
  width: 100%;
  height: 350px;
  /*line-height: 320px;*/
  color: white;
  text-shadow: 0px 0px 5px #444;

  /*Degradado CSS*/
  background: rgb(50, 185, 0);
  background: radial-gradient(
    circle,
    rgba(50, 185, 0, 1) 0%,
    rgba(6, 126, 1, 1) 100%
  );
}

#slider h1 {
  margin-top: 0.2px;
  padding: 0px;
  padding-top: 130px;
  text-align: center;
}

.btn-white {
  /*Cuadro*/
  display: block;
  background: white;
  padding: 10px;
  width: 95px;
  height: 35px;
  line-height: 35px;
  margin: 40px auto;
  box-shadow: 0px 0px 5px rgb(88, 88, 88);
  border-radius: 4px;
  /*Texto*/
  color: rgb(88, 88, 88);
  font-size: 18px;
  text-transform: uppercase;
  text-shadow: none;
  text-decoration: none;
  transition: 300ms all;
}

.btn-white:hover {
  background: #444;
  color: white;
}

#slider.slider-small {
  height: 150px;
}

#slider.slider-small h1 {
  margin-top: 0.2px;
  padding: 0px;
  padding-top: 50px;
}

#content {
  width: 70%;
  float: left;
  min-height: 500px;
  margin-left: 20px;
}

#sidebar {
  width: 25%;
  float: left;
}

.sidebar-item {
  background: #f7f7f7;
  padding: 20px;
  margin-top: 30px;
  margin-left: 15px;
}

.sidebar-item h3 {
  text-transform: uppercase;
  font-size: 18px;
  margin: 0px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border: 3px solid #eee;
}

.sidebar-item .btn {
  margin: 0px auto;
  margin-top: 10px;
}

.sld-check-r {
  background: #a80032;
  color: white;
  padding: 10px;
  max-width: 100%;
  font-size: 16px;
}

.sld-check-g {
  background: #0b7242;
  color: white;
  padding: 10px;
  max-width: 100%;
  font-size: 16px;
}

p {
  font-size: 18px;
}

.btn {
  display: block;
  background: black;
  color: white;
  padding: 15px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
  max-width: 125px;
  text-decoration: none;
  transition: 300ms all;
  border: none;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
  transition: all 300ms;
  text-decoration: underline;
}

.btnParams {
  display: inline-block;
  align-items: center;
  padding: 10px;
}

.btn-success {
  background: rgb(50, 185, 0);
  text-decoration: none;
}

.btn-success:hover {
  background: black;
  text-decoration: underline;
}

.btn-warning {
  background: #c5510d;
  text-decoration: none;
  margin: 10px;
}

.btn-danger {
  background: #a10116;
  text-decoration: none;
  margin: 10px;
}

.btn-primary {
  background: #0b7242;
  text-decoration: none;
  margin: 10px;
}

.btn-star {
  background: #00500d;
  text-decoration: none;
  margin: 8px;
  padding: 6px;
  max-width: 200px;
  font-size: 14px;
}

.btn-accept {
  background: #06b400;
  text-decoration: none;
  margin-top: 20px;
}

.btn-secondary {
  background: #a80032;
  text-decoration: none;
  margin: 10px;
}

.btn-danger:hover,
.btn-warning:hover,
.btn-star:hover,
.btn-primary:hover,
.btn-secondary:hover,
.btn-accept:hover {
  opacity: 0.9;
  transition: all 300ms;
  text-decoration: underline;
}

.buttons {
  margin-top: 15px;
  margin-bottom: 15px;
}

input[type="text"],
textarea {
  width: 100%;
  min-height: 30px;
  border: 2px solid #ccc;
  padding: 3px;
  margin-bottom: 5px;
  transition: 300ms all;
  font-size: 16px;
}

input[type="text"]:focus,
textarea:focus {
  box-shadow: 0px 0px 5px #444 inset;
}

textarea {
  width: 100%;
  height: 100px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
  max-height: 300px;
}

#footer {
  background: #f7f7f7;
  width: 100%;
  height: 70px;
  line-height: 70px;
  color: #444;
}

#footer p {
  margin: 0px;
  padding: 0px;
}

.article-item {
  width: 100%;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: left;
}

.article-item .image-wrap {
  width: 130px;
  height: 130px;
  overflow: hidden;
  float: left;
  margin-right: 15px;
  border: 1px solid #ccc;
}

.article-item .image-wrap img {
  height: 100%;
  width: 110%;
  text-align: center;
}

.article-item h2 {
  display: block;
  width: 100%;
  padding: 0px;
  margin: 0px;
  margin-bottom: 7px;
}

.article-item .date {
  display: block;
  width: 100%;
  color: rgb(122, 122, 122);
}

.article-item a {
  display: block;
  color: #444;
  text-decoration: none;
  margin-top: 10px;
}

.article-item a:hover {
  text-decoration: underline;
  color: #129401;
}

.subheader {
  font-size: 38px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.article-detail .image-wrap {
  float: none;
  width: 100%;
  height: 350px;
  margin-top: 3px;
}

.article-detail .image-wrap img {
  width: 100%;
  height: auto;
}

.article-detail .subheader {
  margin-top: 10px;
  margin-bottom: 2px;
  border: none;
}

.mid-form {
  width: 50%;
  margin: 0px auto;
}

.mid-form label {
  display: block;
  float: left;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 17px;
}

.radio-buttons {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  text-align: left;
}

/*RESPONSIVE*/

/*Desde la anchura 1058px hasta la anchura 1489px*/
@media (max-width: 1489px) {
  .center {
    width: 85%;
  }
  #menu ul {
    width: auto;
  }
}

/*Desde la anchura 946px hasta la anchura 1058px*/
@media (max-width: 1058px) {
  .center {
    width: 95%;
  }
}

/*Desde la anchura 495px hasta la anchura 946px*/
@media (max-width: 946px) {
  #logo {
    float: none;
    width: 270px;
    margin: 0px auto;
    margin-top: 20px;
  }

  #menu,
  #menu ul {
    clear: both;
    float: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
    line-height: 40px;
  }

  #content {
    float: none;
    width: 85%;
  }

  #sidebar {
    float: none;
    width: 60%;
    margin: 0px auto;
    margin-bottom: 50px;
  }

  #slider {
    height: 250px;
  }

  #slider h1 {
    padding-top: 70px;
    font-size: 27px;
  }

  #slider .btn-white {
    padding: 8px;
    width: 80px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
  }

  .subheader {
    font-size: 30px;
  }

  .article-item .image-wrap {
    width: 120px;
    height: 120px;
  }

  .article-item h2 {
    font-size: 21px;
  }
}

/*Desde la anchura 376px hasta la anchura 495px*/
@media (max-width: 495px) {
  #header {
    min-height: 130px;
    overflow: hidden;
  }

  #menu,
  #menu ul {
    line-height: 50px;
  }

  #menu ul li {
    margin-left: 7px;
    margin-right: 7px;
  }

  #slider {
    height: 150px;
  }

  #slider h1 {
    padding-top: 30px;
    font-size: 22px;
  }

  #slider .btn-white {
    padding: 6px;
    margin-top: 20px;
    width: 75px;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
  }

  .subheader {
    font-size: 23px;
  }

  .article-item {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .article-item .image-wrap {
    width: 110px;
    height: 110px;
  }

  .article-item h2 {
    font-size: 17px;
  }

  .article-item .date {
    font-size: 11px;
  }

  .article-item a {
    margin-top: 12px;
  }

  #slider.slider-small {
    height: 100px;
  }

  #slider.slider-small h1 {
    padding-top: 36px;
    font-size: 22px;
  }
}

/*Desde la anchura 0px hasta la anchura 376px*/
@media (max-width: 376px) {
  #header {
    min-height: 105px;
  }

  #menu ul li {
    margin-left: 7px;
    margin-right: 7px;
    font-size: 15px;
  }

  #slider h1 {
    padding-top: 30px;
    font-size: 18px;
  }

  #slider .btn-white {
    padding: 6px;
    margin-top: 20px;
    width: 70px;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
  }

  #logo img {
    height: 45px;
    margin-top: -6px;
  }

  #brand {
    font-size: 27px;
  }

  .subheader {
    font-size: 15px;
  }

  .article-item .image-wrap {
    width: 100px;
    height: 100px;
  }

  .article-item h2 {
    font-size: 12px;
  }

  .article-item .date {
    font-size: 10px;
  }

  .article-item a {
    margin-top: 5px;
    font-size: 10px;
  }

  #slider.slider-small {
    height: 90px;
  }

  #slider.slider-small h1 {
    padding-top: 27px;
    font-size: 20px;
  }

  #footer p {
    font-size: 14px;
  }

  #sidebar h3 {
    font-size: 16px;
  }

  p {
    font-size: 12px;
  }

  .btn {
    font-size: 12px;
    padding: 7px;
    max-width: 80px;
  }

  .btn-star {
    padding: 6px;
    max-width: 150px;
    font-size: 7px;
  }

  .sld-check-r {
    padding: 6px;
    max-width: 95%;
    font-size: 11px;
  }

  .sld-check-g {
    padding: 6px;
    max-width: 95%;
    font-size: 11px;
  }

  input[type="text"],
  textarea {
    min-height: 16px;
    margin-bottom: 2px;
    font-size: 12px;
  }
}
